body {
    background-color: #F9F2ED;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}
  
  h1 {
    color: black;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
p {
    color: black;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    margin-top: 13px;
    text-align: center;
}
h3 {
    color: black;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-top: 58px;
    text-align: center;
}
a:link {
    color: #3AB0FF;
    font-size: 16px;
}
a:visited {
    color:#ffb562
}
.newsletter {
margin-top: 58px;
}
.events {
    margin-top: 13px;
    display: grid;
    grid-template-rows: 220px 220px 220px;
    grid-template-columns: 240px 240px 240px;
    justify-content: center;
}
.get {
    margin-top: 13px;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 16px;
    text-align: center;
}
.host {
    margin-top: 13px;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 16px;
    text-align: center;
}
.reviews {
    margin-top: 58px;
    font-family: 'Lato', sans-serif;
    }
.sponsors {
margin-top: 58px;
font-family: 'Lato', sans-serif;
}
.sponsorscarousel {
    margin-top: 30px;
    display: flex;
    align-content: center;
    margin-left: 300px;
    margin-right: 300px;
}
.planner {
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 16px;
    margin-top: 13px;
    text-align: center;
}
.links {
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 16px;
    margin-top: 13px;
}
.subscribe {
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 34px;
    font-weight: bold;
    border: 0px;
    margin-top: 42px;
    padding: 0px;
    text-align: center;
}
.rectangle {
    width: 724px;
    height: 220px;
    padding: 1px 1px 1px 1px;
    background: #eaeeff;
    border-radius: 28px 28px 28px 28px;
    border: 1px;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}
.reviewsrectangle {
    width: 532px;
    height: 193px;
    padding: 8px 8px 8px 8px;
    background: #ffeeca;
    border-width: 1px;
    border-radius: 6px 6px 6px 6px;
}
.review1 {
    color: black;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    font-style: italic;
}
.review2 {
    color: black;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    font-style: italic;
}
.review3 {
    color: black;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    font-style: italic;
}
* {box-sizing:border-box}
.slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto;
  }
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.dots {
    margin-top: 20px;
}
.reviewscarousel {
    display: none;
}
.button {
	width: 100px;
	height: 30px;
	padding: 0px 0px 0px 0px;
	background: #444444;
	color: #ffffff;
	border-color: #444444;
	border-width: 2px;
	border-style: solid;
	border-radius: 7px 7px 7px 7px;
	font-family: 'Barlow', sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
    margin-left: 1px;
    margin-right: 168px;
    float:right;
}
.address {
    width: 267px;
    height: 30px;
    padding: 4px 4px 4px 4px;
    background: #ffffff;
    color: #c0c0c0;
    border-color: #ebebeb;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    margin-left: 168px;
    float: left;
}

.sponsorlogo {
    flex: 33.33%;
  }

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.gallery {
    margin: 0px;
    border: 1px solid white;
    float: left;
    width: 240px;
  }
  
.gallery:hover {
    border: 3px solid #ffb562;
  }
  
.gallery img {
    width: 100%;
    height: auto;
  }
  
.desc {
    padding: 0px;
    text-align: center;
    background-color: #3AB0FF;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    color: white;
  }
.desc1 {
    padding: 0px;
    text-align: center;
    background-color: #f87474;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    color: white;
  }

.footer {
    margin-top: 58px;
    background-color:#FFB562;
    text-align: center;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
  }


/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #3AB0FF;
    overflow: auto;
   
  }
  
  /* Navbar links */
  .navbar a {
    float: right;
    text-align: center;
    text-size-adjust:auto;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    background-color: #3AB0FF;
  
  }
  /*logo*/
  .navbar .logo{
    float: left;
    position:relative;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #F87474;
  }
  
  /* Current/active navbar link */
  .active {
    background: #FFB562;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  