/* 
Our colour palette

#f9f2ed
#ffb562
#f87474
#3ab0ff
#2e33f5

*/

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f9f2ed;
  padding: 1%;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #3AB0FF;
  overflow: auto;
  /* display:flex;
  justify-content: space-between; */
 
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  text-size-adjust:auto;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  /* font-size: 120%; */
  /* font-family: Nunito; */
  font-family: Lato, Inter;
  font-weight:bold;
}

/*logo*/
.primary-icon{
  float: left;
  position: relative;
  height: 28px; 
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #F87474;
}

/* Current/active navbar link */
.active {
  background: #FFB562;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  /* .navbar {
    flex-direction: column;
  } */
  .navbar a {
    float: none;
    display: block;
  }
}

button {
    background-color: #ffb562;
    color:black;
    border-radius: 5px;
    border: none;
    padding: 10px 26px;
    font-family: Barlow;
    font-weight:bold 700;
}

div.gallery {
    border: 1px solid #f9f2ed;
}
  
div.gallery:hover {
  border: 1px solid #f9f2ed;
}
  
div.gallery img {
  width: 100%;
  height: auto;
}
  
div.desc {
  padding: 15px;
  text-align: center;
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
  
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
  
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
  
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3, h4{
  text-align: center;
  font-family: Lato;
  font-weight: bold;
  margin: 50px 50px 50px 50px;
}
h1 {text-align: center;
  padding:2%;
  margin:1%;
}

p {
  font-family: Nunito;
  margin-left: 50px;
  margin-right: 50px;
}
main {
  flex: 1 0 auto;
}

/* Getting Started page styling starts */
button.start, button.setup-done {
  display:inline-block;
  margin:2% auto;
  width:auto;
}

.start h2, h3, p {
  text-align: center;
  margin: 2vh 1vw;
}

button.setup-done {
  background-color: red;
  display: none ;
}

/* .start *, .about * {
margin:auto;
width: 65vw;
} */
main.start>section>div {
  display:flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  justify-content: space-evenly;
  padding: 2%;
  /* align-items:center; */
}

@media screen and (min-width:500px) {
  main.start>section>div img, main.start>section>div .start-gallery {
    width:80vw;
    /* flex: 1 0 auto;
    justify-content: center; */
  }
}

@media screen and (min-width:700px) {
  main.start>section>div img, main.start>section>div .start-gallery {
    width:45vw;
    /* flex: 1 0 auto;
    justify-content: center; */
  }
}

.start-gallery {
  /* background-color: rgba(87, 227, 227,0.5); */
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.start-gallery .item {
  background-color: #ffb562;
  /* border: 2px black solid; */
  text-align: center;
  border-radius: 2%;
  margin:1%;
  padding:1.2%;
}

.start-gallery .more {
  display:none;
  text-align: center;
}

.start-gallery .uncover {
  /* display:none; */
  text-align: center;
}
/* Getting Started page styling ends */

/*Modal Box in make.page*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #f9f2ed;
  margin: auto;
  padding: 0;
  border: 1px solid #2e33f5;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  font-family: Lato;
  padding: 2px 16px;
  background-color: #ffb562;
  color: #2e33f5;
}

.modal-body {padding: 2px 16px;}

#myBtn {
  background-color: #ffb562;
  color: black;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  width: 50%;
  font-size: 18px;
  font-weight: bold;
  transition-duration: 0.3s;
  position:relative;
}

#myBtn:hover {
  background-color: #3ab0ff;
  color: #f9f2ed;
}

/*events page*/

.newsletter {
margin-top: 58px;
}
.events {
    margin-top: 13px;
    display: grid;
    grid-template-rows: 220px 220px 220px;
    grid-template-columns: 240px 240px 240px;
    justify-content: center;
}
.get {
    margin-top: 13px;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 16px;
    text-align: center;
}
.host {
    margin-top: 13px;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 16px;
    text-align: center;
}
.reviews {
    margin-top: 58px;
    font-family: 'Lato', sans-serif;
    }
.sponsors {
margin-top: 58px;
font-family: 'Lato', sans-serif;
}
.sponsorscarousel {
    margin-top: 30px;
    display: flex;
    align-content: center;
    margin-left: 300px;
    margin-right: 300px;
}
.planner {
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 16px;
    margin-top: 13px;
    text-align: center;
}
.links {
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 16px;
    margin-top: 13px;
}
.subscribe {
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 34px;
    font-weight: bold;
    border: 0px;
    margin-top: 42px;
    padding: 0px;
    text-align: center;
}
.rectangle {
    width: 724px;
    height: 220px;
    padding: 1px 1px 1px 1px;
    background: #eaeeff;
    border-radius: 28px 28px 28px 28px;
    border: 1px;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}
.reviewsrectangle {
    width: 532px;
    height: 193px;
    padding: 8px 8px 8px 8px;
    background: #ffeeca;
    border-width: 1px;
    border-radius: 6px 6px 6px 6px;
}
.review1 {
    color: black;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    font-style: italic;
}
.review2 {
    color: black;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    font-style: italic;
}
.review3 {
    color: black;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    font-style: italic;
}
.address {
    width: 267px;
    height: 30px;
    padding: 4px 4px 4px 4px;
    background: #ffffff;
    color: #c0c0c0;
    border-color: #ebebeb;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    margin-left: 168px;
    float: left;
}
.buttonevents {
	background-color: #ffb562;
  color:black;
  border-radius: 5px;
  border: none;
  padding: 10px 26px;
  font-family: Barlow;
  font-weight:bold;
	border-width: 2px;
	border-style: solid;
	font-size: 16px;
	text-align: center;
    margin-left: 1px;
    margin-right: 150px;
    float:right;
}

.galleryevents {
  margin: 0px;
  border: 1px solid white;
  float: left;
  width: 240px;
}

.galleryevents:hover {
  border: 3px solid #ffb562;
}

.galleryevents img {
  width: 100%;
  height: auto;
}

.desc2 {
  padding: 0px;
  text-align: center;
  background-color: #3AB0FF;
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  color: white;
  font-weight: bold;
}
.desc1 {
  padding: 0px;
  text-align: center;
  background-color: #f87474;
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.reviewscarousel {
    display: none;
}

.sponsorlogo {
    flex: 33.33%;
}

/*welcome page*/

/* Slideshow container */

.slideshow-container {
  padding-top: 10px;
  position: relative;
  margin: auto;
 
 }
 /* Hide the images by default */
 .mySlides {
 display:none;
 width:fit-page;
 }
 
 /* Next & previous buttons*/ 
 .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,.dot:hover {
  background-color: #FFB562;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*Buttons*/
.container {
  position:relative;
  width: fit-page;
}

.container img {
  position: relative;
  padding: 20px;
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
  color: white;
}

/* Footer */

footer {
  /*bottom : 2px;
  margin: 2% 0%;
  flex-shrink: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffb562;
  color: #F87474;
  text-align: center;
  vertical-align: middle; 
  padding: 20px; */
  text-align: center;
  margin: 25px 25px 25px 25px;
  background-color: #ffb562;
  bottom: 2px;
}
  
footer li {
  list-style-type: none;
}
  
ul li {
  font-family: Nunito;
}
