body {
    padding: 2%;
    margin: 1%;
}

header {
    background-color: rgb(255, 255, 255);
    padding: 3%;
    color:rgb(255, 255, 255);
    text-align:center;
    text-transform:uppercase;
}

nav a {
    display:inline-block;
    padding: 2% 3% ;
    margin:2%;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 1);
    color: rgb(42, 42, 161);
    text-decoration: none;
    font-size: 120%;
    text-align:center;
    text-transform:capitalize;

}

.active {
    font-weight: bold;
    background-color: rgb(213, 196, 85);
}